In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv(
    'dados_A312_D_2015-01-01_2024-12-31.csv',
    sep=';',  # Especifica o delimitador correto
    skiprows=9  # Ignora as 9 primeiras linhas
)

df = df.drop('Unnamed: 11', axis=1)

In [21]:
# ajustar o formato dos valores e substituir a vírgula pelo ponto

for coluna in df.columns:
    for i in range(len(df[coluna])):
        valor = df.at[i, coluna]
        if isinstance(valor, str):
            df.at[i, coluna] = valor.replace(',', '.')

for coluna in df.columns[1:]:
    try:
        df[coluna] = pd.to_numeric(df[coluna])
    except ValueError:
        pass

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 11 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Data Medicao                                            3653 non-null   object
 1   PRECIPITACAO TOTAL, DIARIO (AUT)(mm)                    3065 non-null   float64
 2   PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB)              3105 non-null   float64
 3   TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C)  3105 non-null   float64
 4   TEMPERATURA MAXIMA, DIARIA (AUT)(°C)                    3138 non-null   float64
 5   TEMPERATURA MEDIA, DIARIA (AUT)(°C)                     3064 non-null   float64
 6   TEMPERATURA MINIMA, DIARIA (AUT)(°C)                    3143 non-null   float64
 7   UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)           3215 non-null   float64
 8   UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)          3502 non-null   float64
 9   VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)                  3474 non-null   float64
 10  VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)               3105 non-null   float64
dtypes: float64(10), object(1)
memory usage: 314.1+ KB

In [23]:
df.head()

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)",PRESSAO ATMOSFERICA MEDIA DIARIA (AUT)(mB),TEMPERATURA DO PONTO DE ORVALHO MEDIA DIARIA (AUT)(°C),"TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MEDIA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)","UMIDADE RELATIVA DO AR, MEDIA DIARIA (AUT)(%)","UMIDADE RELATIVA DO AR, MINIMA DIARIA (AUT)(%)","VENTO, RAJADA MAXIMA DIARIA (AUT)(m/s)","VENTO, VELOCIDADE MEDIA DIARIA (AUT)(m/s)"
0,2015-01-01,9.4,1003.7,20.9,34.2,26.3,21.5,74.7,39.0,11.7,0.9
1,2015-01-02,0.0,1003.3,21.1,33.8,27.5,23.4,70.3,40.0,9.3,1.2
2,2015-01-03,2.6,1003.6,21.6,30.5,25.3,21.9,80.4,53.0,9.8,1.6
3,2015-01-04,4.0,1004.7,20.8,30.4,24.6,21.3,80.5,54.0,10.4,1.2
4,2015-01-05,0.2,1004.7,20.5,33.6,26.8,22.7,71.5,38.0,8.1,0.9